
body{
    background-color: honeydew;
    background: url('https://images.pexels.com/photos/6479594/pexels-photo-6479594.jpeg?cs=srgb&dl=pexels-tara-winstead-6479594.jpg&fm=jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

h1 {
    font-family: 'Dancing Script';
    color: #008C76FF;
    text-align: center
  }



.garden {
        display: block;
        margin: auto;
    }

   
div > input {
        display: flex;
        flex-direction: column;
        align-content: center;
        margin: auto;
    }



#button {
    display: flex;
    margin: auto;
 }




div#madLib{
     display: flex;
     margin: 15px;
     color: #008C76FF;
     font-weight: 800;
     font-family: 'Dancing Script';
     font-size: 50px;
 }



 .haiku{
     width: 50%;
     margin: auto;
 }



@media (max-width:500px) {
    .image {
        max-width: 50vw;
        height: auto;}
        body{
            background: url('https://images.pexels.com/photos/6479594/pexels-photo-6479594.jpeg?cs=srgb&dl=pexels-tara-winstead-6479594.jpg&fm=jpg');
        }
    }


    