
.honeydew-background{
    background-color: honeydew
}

h1 {
    font-family: 'Dancing Script';
  }

  img{width: 600px;
    border-style: solid;
    border-color: blanchedalmond;}


    .garden {
        display: block;
        margin: auto;
    }


